<div class="split left">
    <div class="centered">
      <h3 style="color: aliceblue;text-align: start;" > + Weddings</h3>
      <h3 style="color: aliceblue;text-align: start;" > + Corporate Events</h3>
      <h3 style="color: aliceblue;text-align: start;" > + Activities</h3>
      <h3 style="color: aliceblue;text-align: start;" > + Accommondation</h3>
      <h3 style="color: aliceblue;text-align: start;" > + Occasians</h3>
     
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      
      <p><b>Home</b></p><br>
      <p><b>About</b></p><br>
      <p ><b>Gallery</b></p><br>
      <p><b>Facilities</b></p><br>
      <p ><b>Contack</b></p><br>
      <p><b>Geeting Here</b></p><br>
      <p ><b>Home</b></p><br>
      <p><b>FAQS</b></p><br>
      <p ><b>Privecy Policy</b></p><br>
     
      
    
    </div>
  </div>
