<button routerLink="display">Display</button>
<Div class="header">
    
 <h3 style="color: blueviolet; width: 100pxpx;"><b>THEPRODIGIES</b></h3>
 <span style="color: black;">I N T E R N A T I O N A L S C H O O L</span>
 <div class="enroll">Enroll Now</div>&nbsp;
 <div class="enroll1">Request A CallBack</div>
 <div class="abc"><b>ACCOUNCEMENT</b> Admission are open <br> For Academic year 2020-21 </div>

 <!-- <div class="aaa">
    <p>Empowering Students <br>to create solutions <br> for Tommorow's Challenges</p>
 </div> -->
 
</Div>
<h4 style="text-align: center; color: rgb(215, 142, 142);">INSIGHTS</h4>
<h3 style="text-align: center;">SHM Store <b>Marketplace Insights</b></h3><br>
<p style="text-align: center;">Lorem ipsum dolor sit,consectetur adipiscing elit,sed do eisumed tempor incididunt ut labor et <br>dolor magina aligua.Quis ipsum suspendisse ultrices gravida</p>

<nav class="nav">

    <a href=""><b>SHOP BY CATERGORY</b></a>&nbsp; &nbsp;
    <a href=""><b>SHOP BY BRAND</b></a>&nbsp; &nbsp;
    <a href="">SERVICES</a>&nbsp; &nbsp;
    <a href="">QUICK CART</a>&nbsp; &nbsp;
    <a href="">TODAYS DEAL</a>&nbsp; &nbsp;
    <a href="">HELP CENTRE</a>&nbsp; &nbsp;
    <a href="">ABOUT US</a>&nbsp; &nbsp;
    <a href="">CONTACT US</a>&nbsp; &nbsp;
    
</nav>
