.header{
    border-bottom-left-radius: 20px;
    background-image:url("../../assets/img/banner-img (1).jpg");
 
    height: 408px;
    width: 100%;
    border-bottom-left-radius: 96px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: blue;
    
}
.enroll{
    position: relative;

    width: 74px;
    background-color: aquamarine;
    left: 897px;
    background-color: rgb(116, 116, 219);
    bottom: -198px;
    border-top-left-radius: 5px;
}
.enroll1{
    position: relative;
    width: 129px;
    background-color: aquamarine;
    left: 842px;
    bottom: -205px;
    background-color: rgb(227, 156, 162);
  
    border-top-left-radius: 5px;

    }
    .abc{
        position: relative;
        bottom: -241px;
        color: aliceblue;
        left: -190px;

    }
    .nav{
        background-color: blue;
        
    }